openapi: 3.1.0
info:
  title: DatiMeteoX - Weather Data Service
  description: |-
    <h3>Overview</h3>

    The WeatherStation Data service developed by DatiMeteoX empowers users to effortlessly access real-time and historical weather data from a comprehensive network of weather stations. 

    Seamlessly integrating with your applications, WeatherStation Data Service helps you in providing invaluable insights into current weather conditions, forecasts, and climatological trends. 

    Whether you're a developer building weather-aware applications, a researcher analyzing environmental patterns, or a business optimizing operations based on weather insights, our API service equips you with the precise data you need to make informed decisions and drive innovation.

    <h3>Data Packs</h3>

    Weather Data Service provides three different data packs depending on the sensors installed on the weather station. Here's the available data packs:
    
    1. **Base Data Pack**:
    Ideal for entry-level users and developers, the Base Data Pack offers essential weather data access from our network of weather stations. It includes basic weather parameters such as temperature, humidity, and wind speed, and precipitation. This pack provides foundational information for various applications, including simple weather displays, basic analytics, and educational projects.
    
    2. **Advanced Data Pack**:
    Designed for intermediate users and businesses requiring more comprehensive weather insights, the Advanced Data Pack offers enhanced access to a wider range of weather parameters. In addition to the features of the Base pack, it includes advanced metrics such as atmospheric pressure, UV index, visibility, and solar radiation. This pack caters to applications such as agricultural forecasting, energy management, outdoor event planning, and logistics optimization.
    
    3. **Professional Data Pack**:
    Tailored for advanced users, researchers, and enterprise-level applications, the Professional Data Pack delivers extensive weather data capabilities for in-depth analysis and decision-making. In addition to the features of the Advanced pack, it provides access to lowest and highest values for each sensor.

    <h3>Accessing the Weather Data Service: API key and security key</h3>

    The Weather Data Service utilizes a secure API-key based authentication to provide controlled access to its features and functionality 

    - <strong>Function</strong>: API keys act as unique identifiers that grant authorized applications and users access to the Weather Data service.
    - <strong>Obtaining Keys</strong>: API keys are generated and managed by DatiMeteoX, please reach out to us in order to receive your API key.

    Some useful links:
    - [DatiMeteoX](https://datimeteox.org)
    - [Dati Meteo Asti](https://datimeteoasti.it)
    - [Maps Dati Meteo Asti](https://maps.datimeteoasti.it)

  termsOfService: http://datimeteox/terms/
  contact:
    email: api@datimeteox.org
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.datimeteox.org/v1
tags:
  - name: weather-stations
    description: Retrieve data packs and weather station data
    externalDocs:
      description: Find out more about our weather stations
      url: https://maps.datimeteoasti.it
paths:
  /weather-stations:
    get:
      tags:
        - weather-stations
      summary: Available weather stations
      description: Returns the available weather stations for your API key
      operationId: getWeatherStations
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WeatherStationResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized, invalid API key or secret key (or both)
  /weather-stations/{weatherStationId}/data-packs:
    get:
      tags:
        - weather-stations
      summary: Available data packs
      description: |-
        Returns the available data packs for a specific weather station.

        This table offers an overview of the key characteristics of our three distinct data packs

        <table>
        <tbody>
        <tr>
        <td>&nbsp;</td>
        <td><center><strong>Pack base</strong></center></td>
        <td><center><strong>Pack advanced</strong></center></td>
        <td><center><strong>Pack professional</strong></center></td>
        </tr>
        <tr>
        <td>Wind chill</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Temperature</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Humidity</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Dew point</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Wet Bulb</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Soil temperature (30 cm)</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Soil Humidity (30 cm)</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Soil Temperature (60 cm)</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Soil Humidity (60 cm)&nbsp;</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Solar Radiation</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Rain rate</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Wind direction</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Average wind speed</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Wind speed</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        </tr>
        <tr>
        <td>Rainfall</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><center>x</center></td>
        </tr>
        </tbody>
        </table>
      operationId: getWeatherStationDataPacks
      parameters:
        - name: weatherStationId
          in: path
          description: Weather station ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataPackResponse'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataPackResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized, invalid API key or secret key (or both)
  /weather-stations/{weatherStationId}/data/base/latest-values:
    get:
      tags:
        - weather-stations
      summary: Base data pack latest values
      description: Returns the base data pack latest values for weather station with the given ID
      operationId: getWeatherStationBaseLatestValues
      parameters:
        - name: weatherStationId
          in: path
          description: Weather station ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WeatherStationDataBase'
        '400':
          description: Bad request
        '401':
          description: Unauthorized, invalid API key or secret key (or both)
        '403':
          description: Forbidden, your API key is not authorized to access to this data pack
      security:
        - ApiKeyAuth: []
          SecretKeyAuth: []
  /weather-stations/{weatherStationId}/data/advanced/latest-values:
    get:
      tags:
        - weather-stations
      summary: Advanced data pack latest values
      description: Returns the advanced data pack latest values for weather station with the given ID
      operationId: getWeatherStationAdvancedLatestValues
      parameters:
        - name: weatherStationId
          in: path
          description: Weather station ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WeatherStationDataAdvanced'
        '400':
          description: Bad request
        '401':
          description: Unauthorized, invalid API key or secret key (or both)
        '403':
          description: Forbidden, your API key is not authorized to access to this data pack
      security:
        - ApiKeyAuth: []
          SecretKeyAuth: []
  /weather-stations/{weatherStationId}/data/pro/latest-values:
    get:
      tags:
        - weather-stations
      summary: Professional data pack latest values
      description: Returns the professional data pack latest values for weather station with the given ID
      operationId: getWeatherStationProLatestValues
      parameters:
        - name: weatherStationId
          in: path
          description: Weather station ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WeatherStationDataProfessional'
        '400':
          description: Bad request
        '401':
          description: Unauthorized, invalid API key or secret key (or both)
        '403':
          description: Forbidden, your API key is not authorized to access to this data pack
      security:
        - ApiKeyAuth: []
          SecretKeyAuth: []
components:
  schemas:
    WeatherStationResponse:
      type: object
      properties:
        id:
          type: string
          examples: ['B8:D8:XX:60:58:XX']
        location:
          type: string
          examples: ['Capriglio']
        model:
          type: string
          examples: ['Vantage-5']
    WeatherStationDataBase:
      type: object
      properties:
        system:
          $ref: '#/components/schemas/System'
        temperature:
          $ref: '#/components/schemas/Temperature'
        humidity:
          $ref: '#/components/schemas/Humidity'
        dew_point:
          $ref: '#/components/schemas/DewPoint'
        wind_chill:
          $ref: '#/components/schemas/WindChill'
    WeatherStationDataAdvanced:
      type: object
      properties:
        system:
          $ref: '#/components/schemas/System'
        temperature:
          $ref: '#/components/schemas/Temperature'
        humidity:
          $ref: '#/components/schemas/Humidity'
        dew_point:
          $ref: '#/components/schemas/DewPoint'
        wind_chill:
          $ref: '#/components/schemas/WindChill'
        solar_radiation:
          $ref: '#/components/schemas/SolarRadiation'
        wet_bulb:
          $ref: '#/components/schemas/WetBulb'
        soil_temperature_30cm:
          $ref: '#/components/schemas/SoilTemperature'
        soil_humidity_30cm:
          $ref: '#/components/schemas/SoilHumidity'
        soil_temperature_60cm:
          $ref: '#/components/schemas/SoilTemperature'
        soil_humidity_60cm:
          $ref: '#/components/schemas/SoilHumidity'
    WeatherStationDataProfessional:
      type: object
      properties:
        system:
          $ref: '#/components/schemas/System'
        temperature:
          $ref: '#/components/schemas/TemperaturePro'
        humidity:
          $ref: '#/components/schemas/HumidityPro'
        dew_point:
          $ref: '#/components/schemas/DewPointPro'
        heat_index:
          $ref: '#/components/schemas/HeatIndexPro'
        wind_chill:
          $ref: '#/components/schemas/WindChillPro'
        pressure:
          $ref: '#/components/schemas/PressurePro'
        wind:
          $ref: '#/components/schemas/WindPro'
        rain:
          $ref: '#/components/schemas/RainPro'
        solar_radiation:
          $ref: '#/components/schemas/SolarRadiationPro'
        wet_bulb:
          $ref: '#/components/schemas/WetBulbPro'
        soil_temperature_30cm:
          $ref: '#/components/schemas/SoilTemperaturePro'
        soil_humidity_30cm:
          $ref: '#/components/schemas/SoilHumidityPro'
        soil_temperature_60cm:
          $ref: '#/components/schemas/SoilTemperaturePro'
        soil_humidity_60cm:
          $ref: '#/components/schemas/SoilHumidityPro'
    Min:
      type: object
      properties:
        value:
          type: string
          examples: [ 1 ]
        time:
          type: string
          examples: [ 01:10 ]
    Max:
      type: object
      properties:
        value:
          type: string
          examples: [ 2 ]
        time:
          type: string
          examples: [ 00:07 ]
    Temperature:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    TemperaturePro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    Humidity:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    HumidityPro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    DewPoint:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    DewPointPro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    HeatIndex:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    HeatIndexPro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    WindPro:
      type: object
      properties:
        avg_speed_kmh:
          $ref: '#/components/schemas/WindAvgSpeed'
        gust_speed_kmh:
          $ref: '#/components/schemas/WindGust'
    WindDirection:
      type: object
      properties:
        current:
          $ref: '#/components/schemas/WindDirectionValues'
        max:
          $ref: '#/components/schemas/WindDirectionValues'
    WindDirectionValues:
      type: object
      properties:
        degree:
          type: string
          examples: [ 106.0 ]
        endir:
          type: string
          examples: [ E ]
    WindGust:
      type: object
      properties:
        current:
          type: string
          examples: [ 0.0 ]
        max:
          $ref: '#/components/schemas/Max'
        direction:
          $ref: '#/components/schemas/WindDirection'
    WindAvgSpeed:
      type: object
      properties:
        current:
          type: string
          examples: [ 0.0 ]
        max:
          $ref: '#/components/schemas/Max'
    WindChill:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    WindChillPro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    Pressure:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    PressurePro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    RainPro:
      type: object
      properties:
        intensity:
          $ref: '#/components/schemas/RainIntensity'
        today:
          type: string
          examples: [ 0.0 ]
        month:
          type: string
          examples: [ 10.4 ]
        year:
          type: string
          examples: [ 41.6 ]
    RainIntensity:
      type: object
      properties:
        current:
          type: string
          examples: [ 0.0 ]
        max:
          $ref: '#/components/schemas/Max'
    WetBulb:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    WetBulbPro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    SolarRadiation:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    SolarRadiationPro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    SoilTemperature:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    SoilTemperaturePro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    SoilHumidity:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
    SoilHumidityPro:
      type: object
      properties:
        current:
          type: string
          examples: [ 7.6 ]
        min:
          $ref: '#/components/schemas/Min'
        max:
          $ref: '#/components/schemas/Max'
    System:
      type: object
      properties:
        mac:
          type: string
          examples: [ 'B8:D8:XX:60:58:XX' ]
        station:
          type: string
          examples: [ 'Vantage-5' ]
        timestamp:
          type: string
          examples: [ '2024-02-10 01:19:53' ]
    DataPackResponse:
      type: object
      properties:
        data_packs:
          $ref: '#/components/schemas/DataPacks'
    DataPacks:
      type: object
      properties:
        base:
          type: object
          properties:
            available:
              type: boolean
          x-go-type-name: Base
        professional:
          type: object
          properties:
            available:
              type: boolean
          x-go-type-name: Professional
        advanced:
          type: object
          properties:
            available:
              type: boolean
          x-go-type-name: Advanced
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    SecretKeyAuth:
      type: apiKey
      in: header
      name: X-Secret-Key